.App {
  text-align: center;
}

#alumni-table {
  margin: auto;
  width: 90vmax;
}

.semantic-checkbox {
  padding-left: 20px;
  padding-right: 20px;
}

.datePicker {
  margin-left: 150px;
}

.name-sort-icons {
  float: right;
}

.active-name-icon {
  color: red;
}

.profile-image-div {
  position: absolute;
  right: 0;
  width: 130px;
  height: 130px;
  background-color: red;
}
